; ============================================================
; =============      stripper by GuiSAE       ================
; ============== [4sc_pit] [m5/5] [4coinfull] ================
; ============================================================

; --- 删除刷药计时器
modify:
{
    match:
    {
        "targetname" "snatchdeathrelay"
    }
    delete:
    {
        "OnTrigger" "pillspawnerDisable0-1"
    }
}

{
    match:
    {
        "targetname" "snatchherewego"
    }
    delete:
    {
        "OnTrigger" "pillspawnerEnable0-1"
    }
}

filter:
; --- 删除路径上固定刷药点
{
    "targetname" "pilltemplate"
}
{
    "targetname" "pillspawner"
}
{
    "hammerid" "button04"
}
{
    "hammerid" "387029"
}
{
    "hammerid" "387009"
}
{
    "hammerid" "387007"
}
{
    "hammerid" "387005"
}
{
    "hammerid" "326673"
}
{
    "hammerid" "326675"
}
{
    "hammerid" "326677"
}
{
    "hammerid" "326679"
}
{
    "hammerid" "326681"
}
{
    "hammerid" "326662"
}

add:
; --- 救援点药丸
{
	"classname" "weapon_pain_pills_spawn"
	"targetname" "pills_1"
	"origin" "-6170 -3992 165"
	"angles" "90 15 0"
    "spawnflags" "2"
}
{
	"classname" "weapon_pain_pills_spawn"
	"targetname" "pills_2"
	"origin" "-6174 -4000 165"
	"angles" "90 315 0"
    "spawnflags" "2"
}
{
	"classname" "weapon_pain_pills_spawn"
	"targetname" "pills_3"
	"origin" "-6186 -3984 165"
	"angles" "90 285 0"
    "spawnflags" "2"
}
{
	"classname" "weapon_pain_pills_spawn"
	"targetname" "pills_4"
	"origin" "-6186 -4004 165"
	"angles" "90 60 0"
    "spawnflags" "2"
}

filter:
; --- Delete the health kit（删除医疗包）
{
	"classname" "weapon_first_aid_kit_spawn"
}
; --- 删除自然刷新点
{
	"classname" "weapon_item_spawn"
}
; --- 删除药箱
{
	"classname" "prop_health_cabinet"
}